* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #003c64;
    --secondary-color: #318fb5;
    --tertiary-color: #fff4eb;
    --quaternary-color: #b0cac7;
}

body {
    background-color: var(--tertiary-color);
    font-family: Helvetica, Arial, sans-serif;
}

section {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

header {
    padding: 10px 10px 10px 0px;
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: var(--primary-color);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 80%;
    z-index: 9999;
    align-items: center;
}

header h1 {
    font-weight: bold;
    font-size: 2vw;
    background-color: var(--quaternary-color);
    margin: 0;
    padding: 10px 10px 10px 2em;
}

header a {
    text-decoration: none;
    color: var(--secondary-color);
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 10px;
}

header nav ul li a {
    padding: 5px;
    font-weight: normal;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-bottom: solid 3px;
    margin: 0 10px;
}

header nav ul li a:hover {
    background-color: var(--quarternary-color);
    color: var(--quaternary-color);
    text-shadow: none;
}


.hero {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    background-image: url("../images/vectorstock_445298.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 80%;
    width: 100%;
    height: 400px;
    position: relative;
    
}

.hero h3 {
    position: absolute;
    font-size: ;
    align-items: flex-end;
    justify-content: flex-end;
    color: var(--primary-color);
    background-color: var(--quaternary-color);
    z-index: 9998;
    right: 5%;
    bottom: 5%;
    padding: 5px;
}

.about-section {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}

.about-section h2 {
    flex: 1 25%;
    text-align: end;
    padding: 0 20px;
    font-size: 35px;
}

.about-section div {
    flex: 3 75%;
    border-left: 3px solid;
    padding: 0 20px 15px 20px;
}

.about-section p {
    padding-bottom: 10px;
}

.work-section {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    padding: 20px;
}

.work-section h2 {
    flex: 1 25%;
    text-align: end;
    padding: 0 20px;
    font-size: 35px;
}

.work-grid-wrapper {
    display: flex;
    flex: 3 75%;
    justify-content: center;
    border-left: 3px solid;
    padding: 0 20px 15px 20px;
}

.work-grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 10px;
    width: 100%;
    grid-auto-flow: dense;
}

.item-1, .item-2, .item-3, .item-4, .item-5{
    display: flex;
    background-size: 100% 100%;
    border: 4px solid var(--quaternary-color);
    opacity: .7;
    transition: .5s;
    padding: 0;
    text-decoration: none;
}



.item-1:hover, .item-2:hover, .item-3:hover, .item-4:hover, .item-5:hover {
    opacity: 1;
}

.item-2, .item-3, .item-4, .item-5 {
    height: 200px;
}


.item-1 {
    height: 410px;
    background-image: url(../images/run-buddy.png);
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
}

.item-2 {
    background-image: url(../images/horiseon.png);
    grid-column: 1;
    grid-row: 3;
    
}

.item-3 {
    background-image: url(../images/black-hole-1.jpg);
    grid-column: 3;
    grid-row: 1;
}

.item-4 {
    background-image: url(../images/black-hole-2.jpg);
    grid-column: 3;
    grid-row: 2;
}

.item-5 {
    background-image: url(../images/black-hole-3.jpg);
    grid-column: 2;
    grid-row: 3;
}

.work-grid-label {
    background-color: var(--quaternary-color);
    align-self: flex-end;
    margin-bottom: 30px;
    color: black;
    padding: 10px;
}

.contact-section {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    width: 80%;
}

.contact-section h2 {
    flex: 1 25%;
    text-align: end;
    padding: 0 20px;
    font-size: 35px;
}

.contact-details {
    display: flex;
    flex: 3 75%;
    justify-content: space-around;
    border-left: 3px solid;
    align-items: center;
    flex-wrap: wrap;
}

.contact-details a {
    text-decoration: none;
    color: var(--primary-color);
    border-bottom: 3px solid;
    text-transform: uppercase;
}

/* One word per row for section h2 */
section h2 {
    word-spacing: 100vw;
}


@media screen and (max-width: 980px) {

    .about-section h2, .work-section h2, .contact-section h2{
        border-bottom: 3px solid;
        text-align: center;
        padding-bottom: 5px;
        margin: 0 auto 35px auto;
        flex: 1 100%;
    }

    .about-section div, .work-section div, .contact-section div {
        border-left: none;
    }

    section h2 {
        word-spacing: normal;
    }
    
}

@media screen and (max-width: 768px) {
    header {
        justify-content: center;
        padding: 10px;
        
    }
    header h1{
        padding: 10px;
        font-size: 4vw;
    }
    header nav {
        flex: 1 100%;
    }

    header nav ul {
        margin: 0 auto;
        padding-bottom: 0px;
    }

    header nav ul li a {
        font-size: 3vw;
        border-bottom: none;
    }
    .work-grid-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-gap: 10px;
        width: 100%;
        grid-auto-flow: dense;
    }

    .item-3 {
        background-image: url(../images/black-hole-1.jpg);
        grid-column: 1;
        grid-row: 4;
    }
    
    .item-4 {
        background-image: url(../images/black-hole-2.jpg);
        grid-column: 2;
        grid-row: 4;
    }

    .contact-details{
        flex-flow: column;
        align-items: flex-start;
    }

    .contact-details a{
        border-bottom: 2px solid;
        margin-bottom: 2px;
    }
}

@media screen and (max-width: 575px) {

}